@model IEnumerable<AliMine.Models.Category>
@{
    ViewData["Title"] = "Категории";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Категории</div>

    <!-- Table -->
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Описание</th>
            <th>Действия</th>
        </tr>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a asp-action="CategoryDetails" asp-controller="Database" asp-route-id="@category.Id"><span class="glyphicon glyphicon-eye-open"></span></a> |
                    <a asp-action="EditCategory" asp-controller="Database" asp-route-id="@category.Id"><span class="glyphicon glyphicon-pencil"></span></a> |
                    <a asp-action="DeleteCategory" asp-controller="Database" asp-route-id="@category.Id"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </table>
</div>

<a class="btn btn-success" href="~/Database/CreateCategory" role="button">Добавить Категорию</a>